* {
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

label {
    display: block;
}

.left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

ul {
    list-style: none;
}