* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url(golf-course.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-size: small !important;
}

h1, h2 {
    font-size: large !important;
}

h3 {
    font-size: medium !important;
}

.red {
    color: red;
}

.hidden {
    display: none;
}

label {
    display: block;
}

.left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    background-color: white;
    border-radius: 20px;
    margin: 10% auto;
    width: 70%;
    padding: 20px;
    opacity: 0.87;
}

input {
    margin: 5px !important;
}

.block {
    display: block;
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 1rem !important;
    }

    h2, h3 {
        font-size: 1.5rem !important;
    }
    h1 {
        font-size: 2rem !important;
    }
}